<app-header></app-header>
<div class="contenedorInicial">
  <div class="inicioprincipal">
    <div class="textos">
      <h1>Encuentra diseños a tu gusto</h1>

      <div>
        <p class="textinicio">
          En nuestra joyería, nos esforzamos por ser reconocidos como líderes en la industria de la joyería,
          ofreciendo piezas únicas y exclusivas que capturan la belleza y la elegancia atemporal.
          Nuestra visión es convertirnos en el destino preferido para aquellos que buscan joyas excepcionales,
          donde la artesanía de calidad se combina con la creatividad y la innovación.
          <br>
        </p>
      </div>
    </div>

    <div>
      <img class="imgp" src="../../../../assets/img/logoempresa-transformed.png">
    </div>

  </div>
  <!--   Tarjetas-->
  <div class="title-cards">Productos diferentes cada dia</div>

  <div class="container-cards">

    <div class="cards">
      <figure>
        <img src="../../../../assets/img/imag.png">
      </figure>
      <div class="contenido-cards">
        <h3>ANILLOS</h3>
      </div>
    </div>
    <div class="cards">
      <figure>
        <img src="../../../../assets/img/imag.png">
      </figure>
      <div class="contenido-cards">
        <h3>RELOJES</h3>
      </div>
    </div>
    <div class="cards">
      <figure>
        <img src="../../../../assets/img/imag.png">
      </figure>
      <div class="contenido-cards">
        <h3>ANILLOS</h3>
      </div>
    </div>

  </div>
  <!--Fin   Tarjetas-->


  <!--Inicio de productos-->
  <div class="title-cards">Los productos mas nuevos</div>
  <div class="container-cards">
    <div class="cards">
      <figure>
        <img src="../../../../assets/img/imag.png">
      </figure>
      <div class="contenido-cards">
        <h3>RELOJES</h3>
        <p>$400</p>
      </div>
    </div>
    <div class="cards">
      <figure>
        <img src="../../../../assets/img/imag.png">
      </figure>
      <div class="contenido-cards">
        <h3>ANILLOS</h3>
        <p>$550</p>
      </div>
    </div>

    <div class="cards">
      <figure>
        <img src="../../../../assets/img/imag.png">
      </figure>
      <div class="contenido-cards">
        <h3>CADENAS</h3>
        <p>$300</p>
      </div>
    </div>

    <div class="cards">
      <figure>
        <img src="../../../../assets/img/imag.png">
      </figure>
      <div class="contenido-cards">
        <h3>CADENAS</h3>
        <p>$300</p>
      </div>
    </div>

    <div class="cards">
      <figure>
        <img src="../../../../assets/img/imag.png">
      </figure>
      <div class="contenido-cards">
        <h3>CADENAS</h3>
        <p>$300</p>
      </div>
    </div>

    <div class="cards">
      <figure>
        <img src="../../../../assets/img/imag.png">
      </figure>
      <div class="contenido-cards">
        <h3>CADENAS</h3>
        <p>$300</p>
      </div>
    </div>
  </div>

</div>