<!DOCTYPE html> 
<header>
<div class="inicioprincipal">
    <h1>GOLDEN ELEGANCE</h1>
    <div>
        <p class="textinicio">
            En nuestra joyería, nos esforzamos por ser reconocidos como líderes en la industria de la joyería,
            ofreciendo piezas únicas y exclusivas que capturan la belleza y la elegancia atemporal.
            Nuestra visión es convertirnos en el destino preferido para aquellos que buscan joyas excepcionales,
            donde la artesanía de calidad se combina con la creatividad y la innovación.
            <br></p>
    </div>
    
    <div>
        <img class="imgp" src="../../../../assets/img/img4.png">
    </div>    
</div>
</header>
<body>
	<!--   Tarjetas-->
<div class="container-card">
<div class="card">
	<figure>
		<img src="../../../../assets/img/reloj.jpg">
	</figure>
	<div class="contenido-card">
		<h3>RELOJES</h3>
		<p>Dale diseño a tu vida con un reloj</p>
	</div>
</div>
<div class="card">
	<figure>
		<img src="../../../../assets/img/anillos.jpeg">
	</figure>
	<div class="contenido-card">
		<h3>ANILLOS</h3>
		<p>Los mejores anillos para tu pareja</p>
	</div>
</div>
<br>
<div class="card">
	<figure>
		<img src="../../../../assets/img/img3.jpg">
	</figure>
	<div class="contenido-card">
		<h3>CADENAS</h3>
		<p>Las Mejores marcas en cadenas.</p>
	</div>
</div>
</div>
<!--Fin   Tarjetas-->

  
<!--Inicio de productos-->
<div class="title-cards">PRODUCTOS MAS NUEVOS</div>
<div class="container-cards">
  <div class="cards">
    <figure>
      <img src="../../../../assets/img/reloj2.jpg">
    </figure>
    <div class="contenido-cards">
      <h3>RELOJES</h3>
      <p>$400</p>
    </div>
  </div>
  <div class="cards">
    <figure>
      <img src="../../../../assets/img/anillo2.jpg">
    </figure>
    <div class="contenido-cards">
      <h3>ANILLOS</h3>
      <p>$550</p>
    </div>
  </div>
  
  <div class="cards">
    <figure>
      <img src="../../../../assets/img/cadena3.jpg">
    </figure>
    <div class="contenido-cards">
      <h3>CADENAS</h3>
      <p>$300</p>
    </div>
  </div>

  <div class="cards">
    <figure>
      <img src="../../../../assets/img/cadena2.jpg">
    </figure>
    <div class="contenido-cards">
      <h3>CADENAS</h3>
      <p>$300</p>
    </div>
  </div>

  <div class="cards">
    <figure>
      <img src="../../../../assets/img/cadena2.jpg">
    </figure>
    <div class="contenido-cards">
      <h3>CADENAS</h3>
      <p>$300</p>
    </div>
  </div>
 
  <div class="cards">
    <figure>
      <img src="../../../../assets/img/cadena4.jpg">
    </figure>
    <div class="contenido-cards">
      <h3>CADENAS</h3>
      <p>$300</p>
    </div>
  </div>
  </div>


</body>



