
header{
    background: black;
	
}

h1{
	margin-left: 400px;
    font-size: 65px;
    position: absolute;
    margin-top: 300px;
    position: absolute;
  transform: translate(-50%, -50%);
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px #efb810,
						30px 30px #000000;
}
.incioprincipal{
    margin-top:1px;
}
.textinicio{
    margin-top: 400px;
    margin-left:100px;
    margin-right: 850px;
    position: absolute;
    text-align: justify;
    color: aliceblue;
}
p{
    font-size: 20px;
}

.imgp{
    margin-top: 30px;
    width: 700px;
    height: 600px;
    margin-bottom: 50px;
    margin-left: 900px;
}
/*termina header*/

/* inicia las 3 card*/
.container-card{
	width: 1300px;
    display: grid;
	display: flex;
	margin: Auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 30px;
	border-radius: 6px;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 120px;
	height: 180px;
}
.card .contenido-card{
	align-content: center;
	margin-left: 200px;
}
.card .contenido-card h3{
	margin-top:-80px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/* CARDS PRODUCTOS NUEVOS */

/* inicia las 3 card*/
.container-cards{
	margin-left: 300px;
    display: grid;
	grid-template-columns: 25% 25% 25% ;
}

.cards{
	margin: 12px;
	border-radius: 10px;
	overflow: hidden;
	background:#ffffff;
	box-shadow: 0px 10px 20px rgb(0, 0, 0);
	transition: all 400ms ease-out;
}
.cards:hover{
	box-shadow: 5px 5px 10px rgb(255, 187, 0);
	transform: translateY(-4%);
}
.cards img{
	width: 100%;
	justify-content: center;
	height: 210px;
}
.cards .contenido-cards{
	padding: 15px;
	text-align: center;
}
.cards .contenido-cards h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.cards .contenido-cards p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/* TERMINA LAS CARDS NUEVAS */
